.container{
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 100%;
  align-items: center;
  padding: 50px;
}

.content{
  width: 230px;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  background-color: #140455;
  gap: 10px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 5px solid white;
}
